services:
  gitea:
    image: docker.gitea.com/gitea:latest
    hostname: gitea
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: unless-stopped
    networks:
      - backend
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3030:3000"
      - "2222:22"

networks:
  backend:
    name: nautobot_backend
    driver: bridge
