INFLUX_ADMIN_USER=admin
INFLUX_ADMIN_PASSWORD=password
INFLUX_TOKEN=your-very-long-random-token-here
INFLUX_ORG=nerdfunk
INFLUX_BUCKET=network_metrics
GRAFANA_ADMIN_PASSWORD=password
GRAFANA_ADMIN_USER=admin
