---
services:
  smokeping:
    image: lscr.io/linuxserver/smokeping:latest
    container_name: smokeping
    hostname: smokeping
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # - MASTER_URL=http://<master-host-ip>:80/smokeping/  # when this is a slave
      - SHARED_SECRET=password
      - CACHE_DIR=/tmp
    volumes:
      - ./config:/config
      - ./data:/data
    ports:
      - 80:80
    restart: unless-stopped
